//
   Created with JetBrains WebStorm.
   User: andywang
   Date: 3/26/16
   Time: 8:52 PM
   To change this template use File | Settings | File Templates.



html
    head
        title All Users
    body
        h1 All Users

        a(href="/") Go to registration page

        .all-users-content
            table
                tr
                    td First Name
                    td Last Name
                    td Cell Number
                    td Home Number
                each user in allUsers
                    tr
                        td= user.firstName
                        td= user.lastName
                        td= user.mobile
                        td= user.home


